<main>

    <div class='p-5 mb-4 bg-light rounded-3'>

        <div class='container-fluid py-5'>

            <h2>Lista de Alunos</h2>

            <hr />

            <a href='/professor/aluno/create'>

                <button class='btn btn-success'>Novo Aluno</button></a>

            {{#each alunos}}

                <div class='card mt-4'>

                    <div class='card-body'>

                        <h4><b>ID:</b>{{id_aluno}}</h4>

                        <small><b>Nome:</b> {{nome}} </small><br />

                        <small><b>Matricula:</b> {{matricula}} </small><br />

                        <small><b>Turma:</b> {{descricao}} </small><br />

                        <!--Botão para editar alunos-->

                        <a href='edit/{{id_aluno}}'>

                            <button class='btn btn-success mt-3'>

                                Editar aluno

                            </button>

                        </a>

                        <a href='delete/{{id_aluno}}'>

                            <button class='btn btn-danger mt-3'>

                                Deletar aluno

                            </button>

                        </a>

                    </div>

                </div>

            {{/each}}

        </div>

    </div>

</main>